/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul {
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
.container {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__body {
  background-color: #8da1f8;
}
.header__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header__logo {
  height: 100px;
  padding: 10px;
}
.header__logo:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.header__teamName {
  align-self: flex-start;
  padding: 10px;
  margin-left: 100px;
  font-size: 34px;
}
.header__teamSlogan {
  align-self: flex-end;
  padding: 10px;
}
.header__menu {
  padding: 10px;
  background-color: #4b68e6;
}
.header__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__menu-link {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 20px;
  color: #323232;
  background-color: #00c853;
  border-radius: 5px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
.header__menu-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  transform: scale(1.2);
}

/*USER CARD*/

*{
  margin: 0;
  padding: 0;
}


.userCard{
  margin: 40px 0 40px 0;
  
  &__wrapper{
      max-width: 1000px;
      margin: 0 auto;
  }

  &__items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; 
  }

  &__item{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      border: 2px solid #CACACA;
      border-radius: 16px;
      position: relative;
      padding: 15px 45px 15px 45px;
      margin-top: 50px;
      overflow: hidden;
      transition: .3s all;
      &:hover{
          box-shadow: 0 0 15px rgba(0,0,0, .2);
          border-color: #fff;
      }
  }
  &__edit{
      width: 17px;
      height: 17px;
      cursor: pointer;
      opacity: .5;
      position: absolute;
      top: 15px;
      right: 15px;
      transition: .3s all;
      &:hover{
          opacity: 1;
          transform: scale(1.1);
      }
  }
  &__photoDev{
      width: 165px;
      height: 165px;
      background-color: #ccc;
      border-radius: 50%;
      overflow: hidden;
  }
  &__photoDev img{
      width: 100%;
  }
  &__name{
      font-size: 24px;
      color: #747474;
      margin: 15px 0 20px 0;
  }
  &__line{
      width: 100%;
      height: 1px;
      background-color: #E3E1E1;
  }
  &__title{
      font-size: 18px;
      color: #747474;
      margin: 25px 0 20px 0;
  }
  &__info{
      width: 200px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 24px;
  }
}


/*USER CARD*/

footer {
  background: #8da1f8;
}
.footer_text {
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;
  transition: 0.4s;
}
.footer_text:hover {
  color: #000;
  text-decoration: underline;
  padding-top: 4px;
  font-weight: 700;
}

/* Polina styles */
.main__info {
  width: 1000px;
  text-align: center;
  background-color: #AAB9F8;
  margin: 0 auto;
}

.main__info-text{
  height: 100%;
  font-size: 20px;
  padding: 7px;
  margin: 15px;
}

.animated__caption{
  height: 100%;
  padding: 15px;
  font-size: 50px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
